/*all*/
*{
    margin: 0px;
    padding: 0;
    font-family:inherit;
}


/*HEADER*/
nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
    float: right;
}
nav li a{
    text-decoration: none;
    color: #fff;
}
nav{
    overflow: hidden;
}
.main-v{
    height: 830px;
    width: 100%;
    background-size: cover;
}
.mainTitle{
    color: yellow;
    text-align: center;
}
.main-v p{
    color: white;
    text-align: center;
}

/*body*/
.title{
    color: blue;
    font-size: 40px;
    text-align: center;
    margin:40px;
}
body{
    width: 100%;
}

/*intro*/
.rightBox{
    width: 550px;
    float: left;
}
.leftBox{
    width: 550px;
    float: left;
    
   
}
p{
    line-height: 2.5em;
    font-size: 15px;
    padding: 30px 80px;
}
.introduction{
   
}
.introduction #img1{
    width: 450px;
    height: 350px;
    float: left;
   
}
.introduction #img2{
    width: 450px;
    height: 350px;
    
}
.intro1{
    margin: 0 200px;
   /* background-color: lightpink;*/
    height: 450px;
}
.intro2{
    margin: 0 200px;
    height: 450px;
    /*background-color: hotpink;*/
}
.btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 100px;
    font-size: 20px;
}
.btn:hover{
    box-shadow: 0 0 12px gray;
}
#bbtn{
    background-color: blue;
    border: 1px solid blue;
}
#ybtn{
    background-color: yellow;
    border: 1px solid yellow;
}
/*course*/

.courses{
    background-color: aliceblue;
}

/*image*/

/*access*/

/*footer*/