/*all*/
* {
    margin: 0px;
    padding: 0;

}

body {
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

@font-face {
    font-family: 'Futura-Boo';
    src: url(Futura-Boo.ttf);
}

@font-face {
    font-family: 'Futura-LigObl';
    src: url(Futura-LigObl.ttf);
}

@font-face {
    font-family: 'Futura-Bol';
    src: url(Futura-Bol.ttf);
}

@font-face {
    font-family: 'Futura-Lug';
    src: url(Futura-Lig.ttf);
}

@font-face {
    font-family: 'Futura-BooObl';
    src: url(Futura-BooObl.ttf);
}

@font-face {
    font-family: 'Futura-MedObl';
    src: url(Futura-MedObl.ttf);
}

@font-face {
    font-family: 'Futura-Med';
    src: url(Futura-Med.ttf);
}

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

/*HEADER*/
nav li {
    display: inline-block;
    list-style-type: none;
    margin-top: 30px;
    float: right;
}

@media screen and (max-width: 480px) {
    nav li {
        display: inline-block;
        list-style-type: none;
        margin-top: 30px;
    }
}

nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    margin-right: 30px;
    font-family: 'Futura-Med';
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

nav {
    overflow: hidden;
    margin-right: 40px;

}

@media screen and (max-width: 480px) {
    nav {
        display: none;

    }
}

nav a:hover {
    color: #3d5ddb;
}

.main-v {
    height: 830px;
    width: 100%;
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 480px) {
    .main-v {
        max-width: 100%;
        height: 650px;
        width: 100%;
        background-size: cover;
        position: relative;
    }
}

.titles {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);

}

.mainTitle {
    color: #ffbf00;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.main-v p {
    color: white;
    text-align: center;
    font-family: 'Futura-Med';
    font-style: italic;
    font-size: 50px;
    margin-top: 30px;
}

@media screen and (max-width: 480px) {
    .main-v p {
        font-size: 15px;
        margin-top: 30px;
    }
}

/*body*/
.title {
    color: #3d5ddb;
    font-size: 53px;
    text-align: center;
    margin: 50px;
    margin-top: 0;
    font-family: 'Futura-Med';
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 20px;
        text-align: center;
        margin: 50px;
        margin-top: 0;
        font-family: 'Futura-Lig';
    }
}

body {
    width: 100%;
}

/*intro*/
.rightBox {
    width: 450px;
    float: left;
    margin-left: 50px;
}


.leftBox {
    width: 450px;
    float: left;
}

@media screen and (max-width: 480px) {
    .rightBox {
        width: 100%;
        margin-left: 0;
        float: none;
    }


    .leftBox {
        padding-top: 0px;
        width: 100%;
        float: none;
    }
}

.introduction p {
    line-height: 2em;
    font-size: 16px;
    padding-top: 30px;
    padding-left: 25px;
    font-family: 'ヒラギノ角ゴ Pro W3';
}

.introduction {
    padding-top: 50px;
}

.introduction #img1 {
    width: 500px;
    float: left;

}

.introduction #img2 {

    float: right;
    width: 500px;
    margin-left: 60px;

}

@media screen and (max-width: 480px) {
    .introduction #img1 {
        width: 90%;
        float: none;
        padding: 0 20px;
    }

    .introduction #img2 {
        width: 90%;
        float: none;
        padding: 200px 20px 20px;
        float: none;
        margin: 0;
    }

    .introduction {
        height: 100%;
    }

    .introduction p {
        line-height: 2em;
        font-size: 12px;
        padding: 10px 30px;
        font-family: 'ヒラギノ角ゴ Pro W3';
    }
    .p2{
    line-height: 2em;
        font-size: 12px;
        padding: 10px 30px;
        font-family: 'ヒラギノ角ゴ Pro W3';
}
}

.intro1 {
    display: auto;
    margin: 20px 190px;
    /* background-color: lightpink;*/
    height: 350px;
}

.intro2 {
    display: auto;
    margin: 0 190px;
    padding-bottom: 100px;
    height: 350px;
    float: right;
    /*background-color: hotpink;*/
}

@media screen and (max-width: 480px) {
    .intro1 {
        display: auto;
        margin: 0;
        /* background-color: lightpink;*/
        height: 350px;
        float: none;
    }

    .intro2 {
        display: auto;
        padding-bottom: 100px;
        height: 350px;
        margin: 0;
        float: none;
        /*background-color: hotpink;*/
    }
}

.btn {
    text-decoration: none;
    font-family: 'Futura-Med';
    font-weight: bold;
    color: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 20px;
    width: 80px;
    display: block;
}

@media screen and (max-width: 480px) {
    .btn {
        text-decoration: none;
        font-family: 'Futura-Med';
        font-weight: bold;
        color: #fff;
        padding: 10px 40px;
        border-radius: 10px;
        margin: 30px auto;
        font-size: 20px;
        width: 80px;
        display: block;
    }
}

.btn:hover {
    box-shadow: 0 0 12px gray;
}

#bbtn {
    background-color: #3d5ddb;
    border: 1px solid #3d5ddb;
}

#ybtn {
    background-color: #ffbf02;
    border: 1px solid #ffbf02;
}

/*course*/

.courses {
    background-color: #d5e6f9;
    height: 100%;
    position: relative;
    z-index: 1;
    padding: 50px;
    margin-top: 0px;
}

.courses h3 {
    color: #183c61;
    font-size: 16px;
}

.particles {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    bottom: 0;
}


.container {
    display: flex;
    flex-flow: row wrap;
    padding: 0 auto;
    justify-content: center;
    align-items: center;
}

.item {
    width: 250px;
    height: 350px;
    background-color: #fff;
    margin: 20px 10px;
    border: 1px;
    border-radius: 10px;

}

.item img {
    margin-bottom: 80px;
    margin: 40px auto;
    display: block;
    height: 110px;
}

.item h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn2 {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    margin: 40px;
    font-size: 14px;
    text-align: center;
    font-family: 'Futura-Med';
    font-weight: bold;
}

.btn2:hover {
    box-shadow: 0 0 12px gray;
}

.btn2 {
    background-color: #3d5ddb;
    border: 1px solid #3d5ddb;
}

@media screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .courses {
        background-color: #d5e6f9;
        height: 100%;
        position: relative;
        z-index: 1;
        padding: 0;
        padding-top: 50px;
        margin-top: 300px;

    }

    .item {
        width: 150px;
        height: 250px;
        background-color: #fff;
        margin: 20px 10px;
        border: 1px;
        border-radius: 10px;

    }

    .item img {
        margin-bottom: 40px;
        margin: 20px auto;
        display: block;
        height: 120px;
    }

    .item h3 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 10px;
    }

    .btn2 {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 10px 5px;
        margin-bottom: 10px;
        border-radius: 25px;
        margin: 10px;
        font-size: 5px;
        text-align: center;
        font-family: 'Futura-Med';
        font-weight: bold;
    }

    .btn2:hover {
        box-shadow: 0 0 12px gray;
    }

    .btn2 {
        background-color: #3d5ddb;
        border: 1px solid #3d5ddb;
    }
}

#orangebtn {
    background-color: #f1652a;
    border-color: #f1652a;
}

#lightbluebtn {
    background-color: #28a9df;
    border-color: #28a9df;
}

#blackbtn {
    background-color: #333333;
    border-color: #333333;
}

#redbtn {
    background-color: #fe5252;
    border-color: #fe5252;
}

#yellowbtn {
    background-color: #fed701;
    border-color: #fed701;
}

#orangeredbtn {
    background-color: #fe7536;
    border-color: #fe7536;
}

#waterbtn {
    background-color: #73cedd;
    border-color: #73cedd;
}

/*image*/
.slider {
    width: 80%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.images {
    padding-top: 50px;
}

.images img {
    width: 100%;
    padding-right: 0;
}

/*access*/
.map {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .map {
        width: 100%;
    }
}

.access {
    padding-top: 50px;
}

/*footer*/
footer p {
    color: #3d5ddb;
    text-align: center;
    padding: 80px 0 30px;
    font-family: 'Futura-Med';
    font-size: 18px;
}
